{% extends "layout.html" %}
{% block content %}

<body>
    <h2>Infraestuctura</h2>
    </p class="c">Compuall Centell, Asesora y diseña soluciones basadas en las necesidades específicas de cada uno de
    nuestros clientes, con proyectos llave en mano cubriendo las etapas de asesoría, suministro, implementación, mantenimiento y
    mejoramiento continuo de cada una de las soluciones, de cableado estructurado, respaldo de energíaesta a tierra, video vigilancia, 
    control deacceso y centros de datos.
    Algunas de las posibilidades incluyen las siguientes:
    Infraestructura física
    Hardware de almacenamiento
    Hardware de procesamiento
    Redes de E/S
    </p>

</body>



{% endblock %}