{% extends "layout.html" %}
{% block content %}

<body>
    <h2>Infraestuctura</h2>
    </p class="c">Compuall Center,  Asesora y diseña soluciones basadas en las necesidades específicas de cada uno de nuestros clientes, con proyectos llave en mano cubriendo las etapas de asesoría, suministro, implementación, mantenimiento y mejoramiento continuo de cada una de las soluciones. Algunas de las posibilidades incluyen equipos de acceso para redes locales e inalámbricas, telefonía en la nube, escáneres, equipos para la seguridad perimetral, cableado estructurado, respaldo de energía y control de acceso.
    </p>

</body>



{% endblock %}