{% extends "layout.html" %}
{% block content %}

<body>

  <div class="jumbotron">
    <h1 class="h1.concss">Bienvenidos a Compuall Center</h1>
    <p class="lead">
      Brindando la asesoría profesional en la pre y post venta, lo cual te asegura que obtendrás el equipo que necesitas y lo utilizaras de manera correcta.
    </p>
    <hr class="my-4">

    <div>
      <p class="lead">
        Compuall Center, es una compañía regional con más de 20 años de experiencia en la entrega de
        soluciones y servicios de tecnología. A lo largo de esta trayectoria, hemos innovado tanto en los mercados
        Latinoamericanos como en los del Caribe convirtiéndonos en el mejor aliado tecnológico para el cumplimiento
        de los objetivos de negocio de nuestros Clientes. 
      </p>
             
    </div>

    <hr class="my-4">
    <hr class="my-4">
    <!-- boton de redes-->
    <button class="btn btn-primary btn-square-social" style="background-color: #3b5998;" href="#!" role="button">
      <i class="fab fa-facebook-f"></i>
    </button>
  </div>
</body>
{% endblock %}