{% extends "layout.html" %}
{% block content %}

<body>
    <div>
        <p class="lead">
            Compuall Center, es una compañía regional con más de 20 años de
            experiencia en la entrega de soluciones y servicios de tecnología.
            A lo largo de esta trayectoria, hemos innovado tanto en los mercados
            Latinoamericanos como en los del Caribe convirtiéndonos en el mejor
            aliado tecnológico para el cumplimiento de los objetivos de negocio
            de nuestros Clientes.</p>
    </div>

    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary active" href="#" role="button">Mision</a>
        <div id="tab-1458" class="tab-content">
            Ofrecer soluciones y servicios tecnológicos que satisfagan las necesidades de sistemas de información y
            telecomunicaciones del mercado Venezolano. </div>

        <a class="btn btn-primary active" href="#" role="button">Vision</a>
        <div id="tab-2458" class="tab-content">
            Ser el líder en proporcionar soluciones de sistemas de tecnología y telecomunicaciones con un alto nivel de
            calidad en Venezuela. </div>

        <a class="btn btn-primary  active" href="#" role="button">Valores</a>
        <div id="tab-3458" class="tab-content">
            <ul>
                <li>Respeto entre sus integrantes, al cliente y con el entorno.</li>
                <li>Honestidad en sus decisiones y acciones.</li>
                <li>Transparencia en su comportamiento organizacional.</li>
                <li>Eficiencia en su gestión interna y externa.</li>
                <li>Calidad de sus productos y servicios.</li>
                <li>Mejoramiento continuo de sus empleados, procesos y productos</li>
            </ul>
        </div>
    </div>

    </div>
    </div>

</body>



{% endblock %}