{% extends "layout.html" %}
{% block content %}

<body>
    <h2>Seguridad</h2>
   
    
     </p class="c"> En la actualidad los criminales informáticos conforman organizaciones para fines lucrativos, se enfocan en vencer y burlar las infraestructuras de seguridad, con los Firewall de última Generación NGFW ofrecemos una seguridad empresarial para cualquier borde y a cualquier escala, con visibilidad completa y protección contra amenazas. Las organizaciones pueden integrar la seguridad en su arquitectura de TI híbrida y crear redes altamente seguras.>
    </p>
    
    
</body>



{% endblock %}